/* ************** */
/* General styles */
/* ************** */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  max-width: 90%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.memoryGame {
  width: 1000px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card {
  width: calc(16.66% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:hover,
.card:focus {
  cursor: pointer;
}

.front img,
.back img {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  background: #1c7ccc;
  position: absolute;
  /* hide back when flipped */
  backface-visibility: hidden;
}

.front,
.back {
  border-radius: 5px;
  background: #1c7ccc;
}

/* show front of card when clicked */
.front img {
  transform: rotateY(180deg);
}

/* ******************* */
/* Card flip animation */
/* ******************* */

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card.flip {
  transform: rotateY(180deg);
}
