* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  max-width: 90%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.memoryGame {
  width: 1000px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(16.66% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.front img,
.back img {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
}

.front,
.back {
  border-radius: 5px;
  background: #1c7ccc;
}
