/* ************** */
/* General styles */
/* ************** */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  max-width: 90%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

/* ************** */
/* header styles */
/* ************** */

header {
  margin-top: 50px;
  text-align: center;
}
h1 {
  font-size: 50px;
}

button {
  padding: 10px;
  border-radius: 15px;
  border: none;
}

button:hover,
button:focus {
  background-color: #ffc6ff;
  cursor: pointer;
}

h1,
button {
  font-family: "Grandstander", cursive;
}

.gameFunctions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.timer {
  margin-right: 20px;
}
/* *********** */
/* Game styles */
/* *********** */

.memoryGame {
  width: 600px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card {
  width: calc(16.66% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:hover,
.card:focus {
  cursor: pointer;
}

.front img,
.back img {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  /* hide back when flipped */
  backface-visibility: hidden;
}

.front,
.back {
  border-radius: 5px;
  background: #a0c4ff;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* show front of card when clicked */
.front {
  transform: rotateY(180deg);
}

.back {
  background: radial-gradient(
      circle closest-side at 60% 43%,
      #a0c4ff 26%,
      rgba(187, 0, 51, 0) 27%
    ),
    radial-gradient(
      circle closest-side at 40% 43%,
      #a0c4ff 26%,
      rgba(187, 0, 51, 0) 27%
    ),
    radial-gradient(
      circle closest-side at 40% 22%,
      #ffc6ff 45%,
      rgba(221, 51, 85, 0) 46%
    ),
    radial-gradient(
      circle closest-side at 60% 22%,
      #ffc6ff 45%,
      rgba(221, 51, 85, 0) 46%
    ),
    radial-gradient(
      circle closest-side at 50% 35%,
      #ffc6ff 30%,
      rgba(221, 51, 85, 0) 31%
    ),
    radial-gradient(
        circle closest-side at 60% 43%,
        #a0c4ff 26%,
        rgba(187, 0, 51, 0) 27%
      )
      50px 50px,
    radial-gradient(
        circle closest-side at 40% 43%,
        #a0c4ff 26%,
        rgba(187, 0, 51, 0) 27%
      )
      50px 50px,
    radial-gradient(
        circle closest-side at 40% 22%,
        #ffc6ff 45%,
        rgba(221, 51, 85, 0) 46%
      )
      50px 50px,
    radial-gradient(
        circle closest-side at 60% 22%,
        #ffc6ff 45%,
        rgba(221, 51, 85, 0) 46%
      )
      50px 50px,
    radial-gradient(
        circle closest-side at 50% 35%,
        #ffc6ff 30%,
        rgba(221, 51, 85, 0) 31%
      )
      50px 50px;
  background-color: #a0c4ff;
  background-size: 100px 100px;
}

.back img {
  opacity: 0;
}

/* ******************* */
/* Card flip animation */
/* ******************* */

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card.flip {
  transform: rotateY(180deg);
}
